@headerWidth: 60px;
@sidebarWidth: 200px;
@contentHeight: calc(100vh - @headerWidth - 1px);

.layout-sidebar {
  width: 200px;
}
.layout-sidebar-menu {
  height: @contentHeight;
  border-right: 1px solid #eee;
  overflow: auto;
}
.theme {
  width: 100%;
  height: 100%;
}
.header {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid #eee;
}
.title-svg {
  width: 60px;
}

.ant-menu-light.ant-menu-root.ant-menu-inline {
  border: 0;
}
