.line {
  width: 1px;
  height: 24px;
  background: #eee;
}
.hamburger-container {
  cursor: pointer;
  margin: 5px;
  padding: 4px;
  border-radius: 3px;
  transition: background 0.3s;
  .rotate {
    transform: rotate(180deg);
  }
}

.hamburger-container:hover {
  background: rgba(0, 0, 0, 0.025);
}
.avatar-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
}
.user-avatar {
  width: 30px;
}
